* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  --yellow-icons: #f6cb16;
  --white: #ffffff;
}

.header {
  min-width: 360px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5410539215686274) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.54) 100%
    ),
    url(/resources/Pelicula.png);
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.header_navbar,
.header_footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}

.bx.bx-menu,
.bx.bx-search {
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}

.header-footer_trailer,
.header-footer_informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: bold;
  font-size: 10px;
}

.header-footer_trailer img,
.header-footer_informacion img {
  width: 25px;
}

.btnVerHorarios {
  padding: 10px 25px;
  background-color: var(--yellow-icons);
  color: var(--white);
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.header_description {
  display: none;
  color: white;
}

@media screen and (min-width: 400px) {
  .header {
    height: 50vh;
  }
  .header_footer {
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (min-width: 1023px) {
  .header-footer_trailer,
  .header-footer_informacion,
  .header_footer {
    display: none;
  }
  .header {
    height: 70vh;
    justify-content:start;
  }
  .header_description {
    display: initial;
    width: 80ch;
    padding: 0px 20px;
    margin-top: 30px;
  }
  .btnVerHorarios {
    border-radius: 0px;
    margin-top: 10px;
  }
  .header_description-title {
    margin-bottom: 10px;
  }

  .header {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5410539215686274) 20%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.54) 80%
      ),
      url(/resources/Pelicula.png);
  }
}
