:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.card{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #242424;
  border-radius: 25px;
}
.card__title{
  font-size: 24px;
  color: black;
  align-self: flex-start;
  padding-left: 10px;
}
.card__movies{
  width: 90%;
  display: flex;
  gap: 20px;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}
.card__movies-container{
  width: 90%;
}
.card__movies-container-img{
  width: 100px;
  border-radius: 20px;
}
.cardComida{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}
.cardComida__container{
  border: 1px solid #242424;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardComida__container-title{
  color: rgb(109, 109, 21);
  font-size: 16px;
  align-self: flex-start;

}
.cardComida__container-Comida{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardComida__container-Comida-emojis{
  font-size: 30px;

}
