:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgba(233, 232, 240, 100);
  
}

#app {
  width: 100%;
  max-width: 1280px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.card{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);

}

.card__title{
  width: 100%;
  font-size: 24px;
  color: black;
  align-self: flex-start;
  padding-left: 10px;
}

.card__movies{
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content:space-around;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
  overflow-x: scroll;
  flex-wrap: wrap;
}

.card__movies-container{
  width: 47%;
}

.card__movies-container-img{
  width: 100%;
  border-radius: 20px;
  max-width: 200px;
  max-height: 300px;

}

.cardComida{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow-x: scroll;
}

.cardComida__container{
 
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebdede;
  border: 1px solid rgb(216, 203, 203);
}

.cardComida__container-title{
  color: rgb(155, 155, 51);
  font-size: 16px;
  align-self: flex-start;

}

.cardComida__container-Comida{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cardComida__container-Comida-emojis{
  font-size: 30px;
}
@media screen and (min-width:768px){
    .card__movies-container{
      width: auto;

 } 
}


